@import '../../styles/_variable.scss';

.page-home {
    display: inherit;
    justify-content: flex-end;
    position: relative;

    &:after {
        background: linear-gradient(to bottom,
            $theme-primary-color 0%,
            $theme-primary-color 50%,
            #888 85%,
            #eee 100%
        );
    }

    .intro-title {
        margin: .5rem 0;
    }

    .side-panel {
        width: 50%;
        height: 75%;
        margin: 2.5%;
    }

    .panel-content {
        height: 100%;
    }

    .skill-overview {
    }

    .job-experience {
    }

    .person-container {
        display: inherit;
        padding-right: 10%;

        img {
            width: 192px;
            margin-top: 4rem;
            align-self: center;
            // filter: grayscale(100%);
        }
    }
}