@import '../../styles/_variable.scss';

.page-experience {
    flex-direction: column;

    .overview {
        display: inherit;
        justify-content: center;

        &.job {
            min-height: 50%;
        }

        &.skill {
            padding: 0 10%;
        }
    }

    .side-panel {
        padding: 1rem;
    }

    .panel-content {
        width: 100%;
        height: 100%;
    }

    .person-container {
        display: inherit;
        align-items: flex-start;
        padding-right: 10%;
        width: 75%;

        img {
            width: 100%;
            margin-top: 4rem;
            // filter: grayscale(100%);
        }
    }

    .skill-container {
        .nested {
            margin-left: 1rem;
        }

        .skill-percent {
            display: block;
            text-align: center;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;

            transform: scaleX(0);
            transform-origin: left;

            animation-delay: 200ms;
            animation-fill-mode: both;
            animation-iteration-count: 1;
            animation-duration: 300ms;
            animation-name: percentGrow;
        }
    }
}

@keyframes percentGrow {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}
