@import '../../scss/_variable.scss';

.page-home {
    display: inherit;
    justify-content: flex-end;
    position: relative;

    &:after {
        content : '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
            $theme-main-color 0%,
            #bbb 60%,
            #888 90%,
            #eee 100%
        );
        opacity: .8;
        z-index: -1;
    }

    .intro-title {
        margin: .5rem 0;
    }

    .side-panel {
        width: 50%;
        height: 75%;
        margin: 2.5%;
    }

    .panel-content {
        height: 100%;
    }

    .skill-overview {
    }

    .job-experience {
    }

    .person-container {
        display: inherit;
        padding-right: 15%;

        img {
            margin-top: 25%;
            align-self: center;
        }
    }
}