@import '../../styles/_variable.scss';

$_header-bg-color: #000;
$_header-font-color: #bbb;

.over-write.nav-header {
    background-color:$_header-bg-color;
    color: $_header-font-color;

    .nav-content {
        margin-left: auto;
    }

    .nav-button {
        text-transform: none;

        &:hover,
        &.active {
            background-color: rgba(#fff, .25);
        }

        a {
            color: $_header-font-color;
            text-decoration: none;
        }
    }
}
